html{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('logo final-01.jpg')no-repeat center center fixed;
background-size: cover;
}
.hedding{
	margin-top: 15px;
	text-align: center;
	color:#E3B402; 
	line-height: 15px;
}
.hedding h1{
	font-size: 30;
	font-family: A Charming Font Expanded;
}
.hedding p{
	font-family: Adobe Arabic;
	font-size: 22px;
	line-height: 20px;
}
.tabile {
	margin:0px auto;
	margin-bottom: 10px;
	margin-top: 5px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.tabile tr th{
	font-size: 15px;
	margin:0px auto;
	color: #dff0dd;
}

#color{
	color: orange;
}